<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 准备容器-->
    <div id="app">
      账户：<input type="text" v-model="username" /> <br /><br />
      密码：<input type="password" v-model="password" /> <br /><br />
      <button>登录</button>
      <button>重置</button>
    </div>

    <!-- 引入 Vue.js -->
    <script src="../js/vue.js"></script>
    <script>
      <!-- 创建 Vue 实例 -->
      new Vue({
        el: "#app",
        data: {
          username: "",
          password: "",
        },
      });
    </script>
  </body>
</html>
